{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "comments": false
}
