<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <title>KorsChen's Markdown</title>

    <style>
        body {
            padding-bottom: 30px;
        }
 
        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: red;
            background-color: #eee;
            
            z-index: 9999;
        }
      </style>
  </head>
  <body>
    <div id="app"></div>>
    <a class="footer" href="http://www.korschen.com">Click进入我的简历 | Copyright © 2019 陈志鹏</a>
  </body>
</html>
